ul.wwo-categories-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
ul.wwo-categories-nav li.wwo-category-nav-item {
    background-color: #dddddd;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    transition: all 0.35s;
}
ul.wwo-categories-nav li.wwo-category-nav-item:hover,
ul.wwo-categories-nav li.wwo-category-nav-item.wwo-active { background-color: #aaaaaa; }

ul.wwo-offers-container li.wwo-single-element,
ul.wwo-grid-container li.wwo-single-element { /*opacity: 0;height: 0;pointer-events: none;*/display: none; }
ul.wwo-offers-container li.wwo-single-element.wwo-active,
ul.wwo-grid-container li.wwo-single-element.wwo-active { display: block; }


li.wwo-single-element { opacity: .3; }
li.wwo-single-element.wwo-lowest-price { opacity: 1; }

