.wwo-modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s;
}

.wwo-modal.wwo-active {
    opacity: 1;
    pointer-events: auto;
}

.wwo-modal .wwo-modal-content {
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: -50%;
    transition: all 0.35s;
}

.wwo-modal.wwo-active .wwo-modal-content {
    right: 0;
}

.wwo-modal-close {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0.5em;
    font-size: 2em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wwo-modal-container {
    padding: 1em;
    padding-top: 0;
    margin-top: 50px;
}

.wwo-establishment-proposal,
.wwo-room-type-proposal {
    background-color: #cfcfcf;padding: 1em;margin: 1em 0;border-radius: 20px;
}

.wwo-proposals-counter {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.2em 0.4em;
    margin: 0 0.2em 0 0;
    color: white;
}

.wwo-room-quantity-1 {
    background-color: #e1e1e1;
    color: #000000;
}

.wwo-price {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.2em 0.4em;
    margin: 0 0.2em 0 0;
    color: white;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
}

.wwo-details {
    font-size: 1rem;
    padding: 1em
}

.wwo-accommodation-details {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.wwo-accommodation-details li {
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 0.2em 0.4em;
    margin: 0 0.5em 0 0;
}

.wwo-disponibility-dates,
.wwo-disponibility-range {
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 0;
}

.wwo-modal-header {
    display: flex;
    align-items: center;
    padding: 1em;
}

.wwo-offer-title, 
.wwo-offer-season {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 0;
    
}

.wwo-offer-season { text-transform: capitalize; }

.wwo-list-of-offers { list-style: none;padding: 0;margin: 0; }

.wwo-list-of-offers .wwo-list-of-accommodations .wwo-accommodation-item { padding: 0.2em 0;margin-bottom: 0.5em; }

.wwo-list-of-offers li {
    background-color: #cfcfcf;
    padding: 1em;
    margin: 1em 0;
    border-radius: 20px;
}

.wwo-price-amount { font-size: 1.5em;font-weight: bold; }

@media screen and (max-width: 1000px) {
    .wwo-modal-content { width: 65% !important; }
}

@media screen and (max-width: 700px) {
    .wwo-modal-content { width: 100% !important; }
}