#web-widget-container, #wwo-modal { 
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.wwo-offer-container.wwo-environment-preproduction .wwo-debug-container,
.wwo-offer-container.wwo-environment-preprod .wwo-debug-container,
.wwo-offer-container.wwo-environment-production .wwo-debug-container,
.wwo-offer-container.wwo-environment-prod .wwo-debug-container {
    display: none !important;
}

.wwo-offer-container.wwo-environment-dev .wwo-offer-item { height: 800px; }

.wwo-featured-image-wrapper {
    height: 200px;
    overflow: hidden;
}

.wwo-offer-wrapper {
    padding: 0.5em;
}

.wwo-featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-title {
    font-weight: bold;
    font-size: 1.2em;
}

.wwo-no-offers {
    text-align: center;
    padding: 1em;
}

.wwo-price-without-discount { 
    text-decoration: line-through;
    text-align: center;
    font-size: initial;
    font-weight: initial;
}

.wwo-accommodation-code { display: none; }

.wwo-room-types-container { }
.wwo-room-type-data ul {
    list-style-type: none;
    padding: 0;
}
.wwo-room-type-proposal { 
    opacity: 0.2;
    overflow: hidden;
    height: 0;
    padding: 0 !important;
    margin: 0 !important;
}
.wwo-room-type-proposal.active { 
    opacity: 1;
    height: auto;
}
.wwo-room-type-proposal-switch {cursor: pointer; }

.wwo-wrapper { padding: 1em; }